* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
    background-color: #C1B5AD;
}

#map {
    height: 100vh;
    width: 100%;
}

#page {
  display: flex;
}

#sidebar {
  z-index: 2;
  position: absolute;
  top: 4em;
  right: 0;
}

#search {
  background-color: rgba(255, 248, 220, 0.75);
  padding: 5px 5px 5px 5px;
}

#itinerary {
  background-color: rgba(0, 255, 0, 0.75);
  padding: 5px 5px 5px 5px;
}

#itinerary-header {
  background-color: rgba(255, 165, 0, 0.75);
  padding: 5px 0px 0px 0px
}

header {
  display: flex;
  position: fixed;
  width: calc(100vw - 8em);
  background-color: white;
  z-index: 2;


  /* center */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;


}

header .logo {
  flex-grow: 1;
  padding-top: 0.25em;
}

header nav {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: flex-end;
}

header .logo {
  display: flex;
  flex-grow: 1;
}

header .logo img {
  width: 8em;
  height: 4em;
}

.navitem{
  height:1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item a {
  font-size: 1.3em;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
